// Breakpoints
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;
// Small tablets (portrait view)
$screen-md-min: 768px;
// Tablets and small desktops
$screen-lg-min: 992px;
// Large tablets and desktops
$screen-xl-min: 1200px;

//Mixins
// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}
// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}
// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}
// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fede5e;
  background-image: url('images/headphones.jpg');
  background-repeat: no-repeat;
  background-position: top center;
}

.container {
  max-width: 1110px;
  margin: 20vh auto;
  padding: 20px;
}

img {
  width: 100%;
  height: auto;
}

h1 {
  line-height: 0.9em;
  font-size: 50px;
  text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
}

.stations {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}

.station {
  cursor: pointer;
  background-color: #fff;
  margin-bottom: 2%;
  flex-basis: 49%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:10px;
  box-sizing: border-box;
  justify-content: center;
  position:relative;
  @include sm {
    & {
      flex-basis: 32%;
    }
  }
  @include md {
    & {
      flex-basis: 23.5%;
    }
  }

  svg {
    position: absolute;
  }

  .stop-button {
    display: none;
  }

  .title {
    text-align: center;
    opacity: 0.2;
  }

  &:hover {
    box-shadow: 0px 0px 9px 1px rgba(117,117,117,1);
    svg {
      display: none;
    }
    .title {
      opacity: 1;
    }
  }

  &.active {
    .title {
      opacity: 1;
    }
    .play-button {
      display: none;
    }
    .sound-wave {
      display: block !important;
    }
    &:hover {
      .stop-button {
        display: block;
      }
    }
  }

  .sound-wave {
    height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    display: none;

    .bar {
      background: #000000;
      bottom: 1px;
      height: 3px;
      position: absolute;
      width: 3px;
      animation: sound 0ms -800ms linear infinite alternate;
      &:nth-child(1) {
        left: 1px;
        animation-duration: 474ms
      }
      &:nth-child(2) {
        left: 5px;
        animation-duration: 433ms;
      }
      &:nth-child(3) {
        left: 9px;
        animation-duration: 407ms;
      }
      &:nth-child(4) {
        left: 13px;
        animation-duration: 458ms;
      }
      &:nth-child(5) {
        left: 17px;
        animation-duration: 400ms;
      }
      &:nth-child(6) {
        left: 21px;
        animation-duration: 427ms;
      }
      &:nth-child(7) {
        left: 25px;
        animation-duration: 441ms;
      }
      &:nth-child(8) {
        left: 29px;
        animation-duration: 419ms;
      }
      &:nth-child(9) {
        left: 33px;
        animation-duration: 487ms;
      }
    }
  }

  @keyframes sound {
    0% {
      opacity: .35;
      height: 3px;
    }
    100% {
      opacity: 1;
      height: 28px;
    }
  }
}
