:root {
  --black: #000000;
  --red: #CC0000;
  --yellow: #fede5e;
  --white: #ffffff;
  
}

* { 
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--yellow);
  background-image: url("images/headphones.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  & .container {
    max-width: 1110px;
    margin: 20vh auto 0 auto;
    padding: 20px;
    & h1 {
      line-height: 0.9em;
      font-size: 50px;
      text-shadow: -1px 0 var(--white), 0 1px var(--white), 1px 0 var(--white), 0 -1px var(--white);
    }
  }
  & .search-holder-container {
    position: sticky;
    top: 0;
    z-index: 999;
    padding: 10px 0;
    margin-bottom: 60px;
    &.active {
      box-shadow: 0 2px 8px rgba(0,0,0,0.08);
      background: #fff;
    }
    .search-holder {
      position: relative;
      max-width: 500px;
      margin: 0 auto;
      padding: 0 10px;
      input[type="text"] {
        display: block;
        width: calc(100% - 20px);
        padding: 10px;
        font-weight: 400;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        background: white;
        border-radius: 6px;
        border: 2px solid #000;
        font-size: 18px;
        &.active {
          border-bottom: none;
          border-radius: 6px 6px 0 0;
        }
      }
      svg.clear-search {
        position: absolute;
        top: 12px;
        right: 12px;
        cursor: pointer;
        display: none;
      }
      #search-box-suggestions {
        background: var(--white);
        border-radius: 0 0 6px 6px;
        border: 2px solid var(--black);
        position: absolute;
        z-index: 99;
        width: calc(100% - 20px);
        max-height: 178px;
        overflow-y: scroll;
        border-top: 1px solid var(--black);
        display: none;
        & .suggestion {
          padding: 10px;
          cursor: pointer;
          &:hover {
            background-color: var(--yellow);
          }
        }
        & .no-search-results {
          padding: 10px;
          font-weight: 500;
          color: var(--red);
        }
      }
    }
  }
  &.page-404 {
    text-align: center;
    background-image: none;
  }
  & .container-fluid {
  padding: 0 10px 30px 10px;
    & .stations {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      flex-direction: row;
      justify-content: center;
      gap: 20px;
      & .station {
        border-radius: 6px;
        background-color: var(--white);
        flex-basis: calc(50% - 20px);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        box-sizing: border-box;
        justify-content: center;
        position: relative;
        @media (min-width: 768px) {
          flex-basis: calc(33.3% - 20px);
        }
        @media (min-width: 993px) {
          flex-basis: calc(25% - 20px);
        }
        @media (min-width: 1200px) {
          flex-basis: calc(20% - 20px);
        }
        @media (min-width: 1400px) {
          flex-basis: calc(16.6% - 20px);
        }
        &:hover {
          box-shadow: 0px 0px 9px 1px #757575;
        }
        & .sound-wave {
          height: 30px;
          position: absolute;
          top: 10px;
          right: 10px;
          width: 40px;
          display: none;
          & .bar {
            background: var(--black);
            bottom: 1px;
            height: 3px;
            position: absolute;
            width: 3px;
            -webkit-animation: sound 0ms -800ms linear infinite alternate;
            animation: sound 0ms -800ms linear infinite alternate;
            &:nth-child(1) {
              left: 1px;
              -webkit-animation-duration: 474ms;
              animation-duration: 474ms;
            }
            &:nth-child(2) {
              left: 5px;
              -webkit-animation-duration: 433ms;
              animation-duration: 433ms;
            }
            &:nth-child(3) {
              left: 9px;
              -webkit-animation-duration: 407ms;
              animation-duration: 407ms;
            }
            &:nth-child(4) {
              left: 13px;
              -webkit-animation-duration: 458ms;
              animation-duration: 458ms;
            }
            &:nth-child(5) {
              left: 17px;
              -webkit-animation-duration: 400ms;
              animation-duration: 400ms;
            }
            &:nth-child(6) {
              left: 21px;
              -webkit-animation-duration: 427ms;
              animation-duration: 427ms;
            }
            &:nth-child(7) {
              left: 25px;
              -webkit-animation-duration: 441ms;
              animation-duration: 441ms;
            }
            &:nth-child(8) {
              left: 29px;
              -webkit-animation-duration: 419ms;
              animation-duration: 419ms;
            }
            &:nth-child(9) {
              left: 33px;
              -webkit-animation-duration: 487ms;
              animation-duration: 487ms;
            }
          }
        }
        & svg.play-button,
        & svg.stop-button {
          position: absolute;
          top: 10px;
          left: 10px;
        }
        & svg.stop-button {
          display: none;
        }
        &.active {
          svg.play-button {
            display: none;
          }
          svg.stop-button {
            display: block;
          }
          .sound-wave {
            display: block;
          }
        }
        .play-stop-button { 
          height: 132px;
          overflow: hidden;
          background-repeat: no-repeat;
          background-position-x: center;
          background-position-y: center;
          width: 100%;
          background-size: contain;
          cursor: pointer;
          position: relative;
        }
        span.line {
          height: 2px;
          background: var(--red);
          width: 100px;
          margin-top: 25px;
        }
        p {
          font-weight: 500;
          text-align: center;
          min-height: 42px;
          font-size: 13px;
          @media(min-width: 1000px) {
            font-size: 18px;
          }
        }
        a {
          background-color: var(--red);
          display: inline-flex;
          justify-content: space-evenly;
          gap: 5px;
          border: 2px solid var(--red);
          color: var(--white);
          text-decoration: none;
          padding: 8px 13px;
          border-radius: 6px;
          font-weight: 400;
          align-items: center;
          font-size: 13px;
          @media(min-width: 1000px) {
            gap: 15px;
            font-size: 18px;
          }
          svg {
            transform: scale(0.7);
            @media(min-width: 1000px) {
              transform: scale(1);
            }
            path {
              stroke: var(--white);
              stroke-width: 1px;
            }
          }
          &:hover {
            background-color: var(--white);
            color: var(--black);
            svg path {
              stroke: var(--black);
            }
          }
        }
        &.station-searched-for {
          animation: scaleBounce 3s ease;
          box-shadow: inset 0px 0px 0px 4px var(--red)
        }
      }
    }
  }
}

@-webkit-keyframes sound {
  0% {
    opacity: .35;
    height: 3px;
  }

  100% {
    opacity: 1;
    height: 28px;
  }
}

@keyframes sound {
  0% {
    opacity: .35;
    height: 3px;
  }

  100% {
    opacity: 1;
    height: 28px;
  }
}

@keyframes scaleBounce {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  70% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

/* arrow up */
a.arrow-up {
  position: fixed;
  right: 2px;
  bottom: 20px;
  background: #cc0100;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  flex-direction: column;
  text-decoration: none;
  color: #fff;
  z-index: 1000;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
  transform: translateY(20px);
  & span {
    text-align: center;
    font-size: 10px;
  }
  &.show {
    right: 2px;
    opacity: 1;
    transform: translateY(0);
  }
}

footer {
  background-color: var(--white);
  padding: 20px;
  border-top: 2px solid var(--red);
  p {
    margin: 0;
    text-align: center;
    font-size: 14px;
    a {
      color: var(--black);
    }
  }
}
